#mapa{
    height: 520px;    
    margin: 1px;
}

.icon {
	display: inline-block;
	margin: 2px;
	height: 16px;
	width: 16px;
	background-color: #ccc;
}

/* ICONS */
.icon-negro {
	background: url('puntonegro.png') center center no-repeat;
}
.icon-verde {
	background: url('puntoverde.png') center center no-repeat;
}
.icon-azul {
	background: url('puntoazul.png') center center no-repeat;
}
.icon-rojo {
	background: url('puntorojo.png') center center no-repeat;
}
.icon-marron {
	background: url('puntomarron.png') center center no-repeat;
}
.icon-amarillo {
	background: url('puntoamarillo.png') center center no-repeat;
}

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}
